h2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sun {
	position: absolute;
	top: 10px;
	left: 5px;

}

.navbar-default {
	background: #444;
	color: white;
}

.navbar-default a {
	color: white;
}

ul.nav.navbar-nav.pull-right a:hover {
	color: white;
}

ul.nav.navbar-nav.pull-right a.logout:hover {
	cursor: pointer;
}

.username {
	color: rgb(92, 184, 92);
}