<div class="form-border">
<form class="form-group" (ngSubmit)="onSubmit(f)" #f="ngForm">
	<label for="name" class="form-control">Template Name</label>
	<input type="text" name="name" class="form-control" [(ngModel)]= "template.name"><br>
	<div class="row">
		<div class="col-sm-3">
			<label for="variables" class="form-control">Variables</label>
			<div class="">
				<ul id="list">
				<li class="variable-list" *ngFor="let item of template.properties; let i of index" (click)="addVariable(item)">
					{{ item.name }}
				</li>
				</ul>
				<span (click)="newVariable()" class="new-variable">Add Variable +</span>
			</div>
		</div>
		<div class="col-sm-9 pull-right">
			<label for="body" class="form-control">Template Body</label>
			<textarea class="form-control" name="body" [(ngModel)]="template.body"></textarea>
		</div>
	</div>
	<button class="form-control btn btn-success my-button">Update Template</button>

</form>
</div>