<div class="connection">
<h1>Welcome to Warm Connection!</h1>
<img src="http://images.clipartpanda.com/cute-sun-clipart-cartoon-sun.svg" 
				style="height:100px;"
				class="sun"
				alt="">
<!-- <h1><iframe width="560" height="315" src="https://www.youtube.com/embed/RIf1IgT7ZbE" frameborder="0" allowfullscreen></iframe></h1> -->
<br>
<ol class="list-group instructions">
	<li class="list-group-item">1. Create a template - Add variables to taste</li>
	<li class="list-group-item">2. Click your tempate in the left column</li>
	<li class="list-group-item">3. Choose 'build emails'</li>
	<li class="list-group-item">4. Enter information into the variable fields - click 'inject values'</li>
	<li class="list-group-item">5. Click 'add email' and repeat</li>
	<li class="list-group-item">6. When finished, open e-mail client and begin pasting and sending your emails. It's helpful to have the contact email and subject as part of the template. You can then quickly cut and paste these into the correct fields before sending</li>
	<li class="list-group-item">7. As you send the emails, delete them from your list by clicking the red 'x'</li>
	<li class="list-group-item">8. Cold emails become warm connections!</li>

</ol>
<h3>Choose or create a template to get started!</h3>
</div>

