
<hr>
<div class="row">
	<div class="col-sm-4" >	
		<h3>
		 {{ template?.name }}
		</h3>
		<div class="form-group" #f>
				<fieldset *ngFor="let input of template.properties; let i = index">
				<label for="input.name">{{input.name}}</label>
				<input class="form-control" type="text" name="{{input.name}}" [(ngModel)]="template.properties[i]['value']">
				</fieldset><br>
				<button (click)="onSubmit(f)" class="form-control btn btn-primary" type="button">Change</button>
		</div>
	</div>
	<br>
	<div class="container col-sm-6" id="hello" [innerHTML]="bodyHtml"></div>
</div>
