form {
	font-size: .7em;

}

input {
	height: 2em;
	padding-top: 0px;
	padding-bottom: 0px;
}

.add-email:hover {
	cursor: pointer;
}

.container {
	font-size: 1.3em;
	border-left: 1px solid #ccc;
}

label {
	margin-bottom: 0px;
	margin-top: 3px;
}

input.form-control {
    line-height: .9em;
}

.delete {
	color: black;
	font-size: 1.5em;
}
.delete:hover {
	color: red;
	cursor: pointer;
}

img.close {
	margin-right: 80px;
	height: 20px;
}

.email-history {
	background-color: lightgoldenrodyellow;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 1.3em;
}

.duplicate {
	font-style: italic;
	color: red;
	padding-left: 5px;
	font-size: 1.4em;
}

.emails-in-queue {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 50px;
	width: 60px;
	background: rgb(68,68,68);
	color: white;
	padding: 10px;
	border-bottom-left-radius: 100%;
	z-index: 100;
	padding-left: 20px;
	padding-top: 10px;
	font-size: .6em;
}

.bottom-right-button {
	position: fixed;
	bottom: 5px;
	right: -130px;
	z-index: 100;
}

.bottom-right-button-show {
	right: 5px;
	animation-name: animate-show;
	animation-duration: .6s;
}


.bottom-right-button-hidden {
	animation-name: animate-hide;
	animation-duration: .6s;
	right: -130px;
}


@keyframes animate-show {
	0% {
		right: -130px;
	}
	100% {
		right: 5px;
	}
}

@keyframes animate-hide {
	0% {
		right: 5px;
	}
	100% {
		right: -130px;
	}
}