<div class="navigation">
	<div *ngIf="!newFlag; else other">
		<button class="btn btn-success"  (click)="onNewTemplate()">New Template</button><br>
<!-- 		<p style="font-weight:bold; display: margin-left: 4px; text-align: center; margin-bottom: 4px;">My Templates:</p>

		 <select class="selectbox" (change)="chooseTemplate(selected)" [(ngModel)]="selected" name="" id="">
			<option *ngFor="let template of templates" value="{{template.id}}">{{template.name}}</option>
		</select>
		<br>
		<br> -->
		
<!-- 		<p style="font-weight:bold; display: margin-left: 4px; text-align: center; margin-bottom: 4px;">My Templates:</p> -->
<ul class="list-group">
	<li *ngFor="let template of templates" 
		class="list-group-item"
		(click)="chooseTemplate(template.id)"
	>{{template.name}}</li>
</ul>
	</div>
	 <ng-template #other>
	 	<div>
	 		<button class="btn btn-success" (click)="onBackToTemplates()">Back To Templates</button>
	 	</div>
	 </ng-template>
</div>

