
<hr>
<div class="row">
	<div class="col-sm-4">	
		<h3>
		  {{ template?.name }}
		</h3>
		<form class="form-group" (ngSubmit)="onSubmit(f)" #f="ngForm">
			<fieldset *ngFor="let input of template.properties">
			<label for="input.name">{{input.name}}</label>
			<input class="form-control" type="text" name="{{input.name}}" ngModel>
			</fieldset><br>
			<button class="form-control btn btn-primary" type="submit">Change</button>
		</form>
	</div>
	<br>
		<div class="container col-sm-6" [innerHTML]="bodyHtml"></div>
</div>
